body
{
  font-family: "Montserrat";
}
#title
{
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid
{
  padding: 3% 15%;
}
h1
{
 font-family: "Montserrat-Black";
  font-size: 3.5rem;
  line-height: 1.4;
  font-weight: bolder;
}
/* NAvbrand */
.navbar
{
  padding: 0 0 4.5rem;
}
.navbar-brand
{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding: 0 20px;
  color: #FFF;
}
.nav-link
{
  font-size: 1.2rem;
  font-weight: bold;
  color: #fff;
}
/* DOWNLOAD BUTTON */
.btn{
  margin: 5% 3% 5% 0;
}
.title-img{
  width: 60%;
  transform: rotate(30deg);
}
/*-------features------------*/
#features
{
  padding: 7% 17%;
}
h3
{
  font-family: "Montserrat-Bold";
  font-size: 2rem;
  font-weight: bolder;
}
.feature-box
{
  padding: 5%;
  text-align: center;
}
p{
  color: #8f8f8f;
}
.icon
{
  margin-bottom: 1.5rem;
  color: #ef8172;
}
.icon:hover
{
  color: #ff4c68;
}
